{% extends 'rct/base.html' %}
{% load static %}

        {% if user.is_anonymous %}
            <meta http-equiv="refresh" content="0;url=/rct/login/">
        {% endif %}
           
        <script type="text/javascript" src="{% static "js/signup.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        


{% block nav-add %}{% endblock %}
{% block nav-tasks %}{% endblock %}
{% block nav-addMemb %}{% endblock %}
{% block nav-addTask %}{% endblock %}
{% block nav-addProj %}{% endblock %}


{% block body_block %}

        <div id="header">
            <h1> Add New Task to {{ project.name }} Project </h1>
        </div>




        
        <div id = "mycontainer">
    
            <form id="task_form" method="post" action="/rct/project/{{ project.url }}/add_task/">
                {% csrf_token %}

                 {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}

                <input type="submit" name="submit" values="Create task" />
            </form>

        </div>

{% endblock %}
