<div class="boxes" id="boxes">
    <div class="buttonColor">
        <label>
            <input {% if task.completed %}checked{% else %}{% endif %} type="checkbox" onclick='updateTask(this, {{ task.id }}, "{{project.id}}");' >
        </label>
        <label>
            <button type="button" id="butt" data-toggle="modal" data-target="#{{ task.id }}" class="btn btn-default-lg btn-block">{{ task.title }}</button>
        </label>
    </div>
</div>

<div class="modal fade" id="{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ task.title }}</h4>
            </div>
            <div class="modal-body">
            {% if task.completed %}
                Completed</br>
            {% else %}
                To Be Completed</br>
            {% endif %}
                Deadline: {{task.deadline}}</br>
                Description: {{task.description}}</br>
                Priority: {{task.priority}}</br>
                Category: {{task.category}} </br>   
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
