{% extends 'rct/base.html' %}
{% load static %}
{% load ac %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static "js/projectBoard.js" %}"></script>
{% endblock %}

{% block nav %}
{% include "rct/projects/nav.html" %}
<li><a href="#" data-toggle="modal" data-target="#editProject">Project Settings
<span class="glyphicon glyphicon-cog"></span> </a></li>
{% endblock %}

{% block body_block %}
<div id="header">
    <h1>{{ project.name }} Projectboard</h1>
</div>

<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProject" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="category_form" method="post" action="{% url 'edit_project' project.url %}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editProject">Update Project Details</h4>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        {{ field|addclass:"form-control" }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <a href="{% url 'delete_project' project.url %}" class="pull-left btn btn-danger">Delete Project</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class = "container" id = "whiteboard">                

    <div class="btn-group input-group btn-group-justified blocks" data-toggle="blocks">
        <button type="button" class="btn btn-danger category-button btn-lg" id="must-have" onclick="mustHave()">Must Have</button>
        <button type="button" class="btn btn-warning category-button btn-lg" id="should-have" onclick="shouldHave()">Should Have</button>
        <button type="button" class="btn btn-success category-button btn-lg" id="could-have" onclick="couldHave()">Could Have</button>
        <button type="button" class="btn btn-primary category-button btn-lg" id="would-like" onclick="wouldLike()">Would Like</button>
        <button type="button" class="btn btn-default category-button btn-lg" id="all" onclick="show_all()">View All</button>
        <div>
            <br>
            <a href="{% url 'add_task' project.url %}">
            <span class="glyphicon glyphicon-plus"></span>
            Add New Task
            </a>
        </div>
    </div>
    
    <div>
        <ul id="must" >
            {% if must %}
            {% for task in must %}
                {% include 'rct/projects/task.html' %}
            {% endfor %}
            {% endif %}
        </ul>


        <ul id="should">
            {% if should %}
            {% for task in should %}
                {% include 'rct/projects/task.html' %}
            {% endfor %}
            {% endif %}
        </ul>

        <ul id="could">
            {% if could %}
            {% for task in could %}
                {% include 'rct/projects/task.html' %}
            {% endfor %}
            {% endif %}
        </ul>

        <ul id="would">
            {% if would %}
            {% for task in would %}
                {% include 'rct/projects/task.html' %}
            {% endfor %}
            {% endif %}
        </ul>
        
    </div>
</div>

{% endblock %}
