{% extends 'rct/base.html' %}
{% load static %}

{% block body_block %}
{% block nav-tasks %}{% endblock %}
{% block nav-addProj %}{% endblock %}


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="{% static "js/projectBoard.js" %}"></script>


</head>
<body>
    <!-- Button trigger modal -->
<!--     <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
  </button>
-->
<!-- Modal -->

<div id="header">
    <h1>{{ project.name }} Projectboard</h1>
</div>

<div class = "container" id = "whiteboard">                

    <div class="btn-group input-group btn-group-justified blocks" data-toggle="buttons">
        <button type="button" class="btn btn-danger btn-lg" id="must-have" onclick="mustHave()">Must Have</button>
        <button type="button" class="btn btn-warning btn-lg" id="should-have" onclick="shouldHave()">Should Have</button>
        <button type="button" class="btn btn-success btn-lg" id="could-have" onclick="couldHave()">Could Have</button>
        <button type="button" class="btn btn-primary btn-lg" id="would-like" onclick="wouldLike()">Would Like</button>
    </div>

    <u1 id="must" >
        {% if must %}
        {% for task in must %}
            {% include 'rct/projects/task.html' %}
        {% endfor %}
        {% endif %}
    </u1>


    <u1 id="should" hidden>
        {% if should %}
        {% for task in should %}
            {% include 'rct/projects/task.html' %}
        {% endfor %}
        {% endif %}
    </u1>

    <u1 id="could" hidden>
        {% if could %}
        {% for task in could %}
            {% include 'rct/projects/task.html' %}
        {% endfor %}
        {% endif %}
    </u1>

    <u1 id="would" hidden>
        {% if would %}
        {% for task in would %}
            {% include 'rct/projects/task.html' %}
        {% endfor %}
        {% endif %}
    </u1>

</div>

{% endblock %}
