{% extends 'rct/base.html' %}

{% block nav-register %}{% endblock %}
{% block nav-addMemb %}{% endblock %}
{% block nav-addTask %}{% endblock %}

{% block body_block %}

    <div class="container">
        {% if projects %}
            <div id="header">
                <h1> Your Projects... </h1>
            </div>
            {% for project in projects %}
            <div class="jumbotron">
                <h1>{{ project.name }}</h1>
                <p><i>{{ project.description }}</i></p>
                <a href="{% url 'project' project.url %}" class ="btn btn-default">View Whiteboard</a>
                <br></br>
                <a href='/rct/project/{{project.name}}/delete/' class ="btn btn-default">Delete Project</a>

            </div>
            {% endfor %}
        {% else %}
            <div id="header">
                <h1> Click "Add New Project" to get started...</h1>
            </div>
        {% endif %}
    </div>

{% endblock %}

       
