<!DOCTYPE html>

{% load static %}

<html>

    <head>
    	<style>

    	#header{
    		
    		font-family: "Verdana",Verdana, sans-serif;
    		background-color: rgba(192,192,192,0.3);
    		
    	}

    	#container{

    		text-align: center;
    		vertical-align: bottom
            text-decoration: none;
    		
    	}

    	#singup{
    		text-align: center;
    		vertical-align: bottom;
    		font-family: "Verdana",Verdana, sans-serif;
    		font-size: 11px;

    	}
    	</style>

        <title>Requirements Tracker</title>
    </head>

    <body>
    	<div id="header">
    		<h1>Requirements Tracker</h1>
    	</div>

        <div id="container">
        	<a href="{% url 'socialauth_begin' 'github' %}"><img src="{% static "github.jpg"%}" alt="Github logo" style="margin-right:30px;"  style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'facebook' %}"><img src="{% static "facebook.jpg"%}" alt="Facebook logo" style="margin-right:30px;" style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'twitter' %}"><img src="{% static "twitter.jpg"%}" alt="Twitter logo" style="margin-right:30px;" style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img src="{% static "google.jpg"%}" alt="Google logo" style="margin-right:30px;" style="border: none;"</a>
            <a href="{% url 'socialauth_begin' 'linkedin' %}"><img src="{% static "linkedin.jpg"%}" alt="Linkedin logo" style="margin-right:30px;" style="border: none;"</a>
        </div>

        <div id="signup">
        	<p><a href="/rct/signup">Alternatively, click here to sign up!</a>
        </div>

    </body>

</html>
