{% extends 'rct/base.html' %}

{% block nav-add %}{% endblock %}
{% block nav-tasks %}{% endblock %}

{% block body_block %}

        {% load static %}
        {% if user.is_anonymous %}


    	<div id="header">
    		<h1>Requirements Tracker</h1>
    	</div>
        <br></br>
        <div id="container">
        	<a href="{% url 'socialauth_begin' 'github' %}"><img src="{% static "github.jpg"%}" alt="Github logo" style="margin-right:30px;"  style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'facebook' %}"><img src="{% static "facebook.jpg"%}" alt="Facebook logo" style="margin-right:30px;" style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'twitter' %}"><img src="{% static "twitter.jpg"%}" alt="Twitter logo" style="margin-right:30px;" style="border: none;"</a>
        	<a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img src="{% static "google.jpg"%}" alt="Google logo" style="margin-right:30px;" style="border: none;"</a>
            <a href="{% url 'socialauth_begin' 'linkedin' %}"><img src="{% static "linkedin.jpg"%}" alt="Linkedin logo" style="margin-right:30px;" style="border: none;"</a>
        </div>

        <div id="signup">
            <br></br>
        	<p><a href="/rct/signup">Alternatively, click here to sign up!</a></p></br>
        </div>

        <div id="header">
            <h3>Or Login Manually:</h1>
         </div>

        <div id = "mycontainer">

    
            <form id="login_form" method="post" action="/rct/login/">
                {% csrf_token %}
                
                <input type="text" class="form-control" placeholder="E-mail" name="email" value="" size="50">
                <br>

                <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50">
                <br>
                <input type="submit" value="submit" />
            </form>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
            <meta http-equiv="refresh" content="0;/rct/"/>
        {% endif %}
{% endblock %}