<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../../static/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../../static/css/styles.css" rel = "stylesheet">
        <title>Requirements Tracker</title>
    </head>

    <body>

        <div class = "navbar navbar-inverse navbar-static-top">
            <div class = "container">
                
                <a href = "#" class = "navbar-brand">ToDoList</a>
                
                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                
                <div class = "collapse navbar-collapse navHeaderCollapse">
                
                    <ul class = "nav navbar-nav navbar-right">

                        <li class = "active"><a href = "/rct/">Home</a></li>
                        <li><a href = "#"><span class="glyphicon glyphicon-cog"></span> </a></li>
                    
                    </ul>
                
                </div>
                
            </div>
        </div>

        <div id="header">
            <h1>Create an Account</h1>
        </div>
        {% if registered %}
        <strong>Thank you for signing up!</strong>
        <a href="/rct/">Return to index.</a><br/>
        {% else %}

       <!--  <div class = "container" </div>

        <form id="user_form" method="post" action="/rct/signup/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            

         <!-- Provide a button to click to submit the form. -->
         <!--    <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        
        </div>  -->

        <div id = "mycontainer" </div>

    
        <form id="user_form" method="post" action="/rct/signup/">
            {% csrf_token %}

            <input type="text" class="form-control" placeholder="*Username (less than 30 characters)" name="username" value="" size="50">
            <br>

            <input type="text" class="form-control" placeholder="First Name" name="firstName" value="" size="50">
            <br>

            <input type="text" class="form-control" placeholder="Last Name" name="lastName" value="" size="50">
            <br>

            <input type="text" class="form-control" placeholder="*Email Address" name="email" value="" size="50">
            <br>

            <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50">
            <br>

            <form>

            <input type="submit" value="Register" />
        </form>

    </body>

</html>