<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "../../static/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "../../static/css/styles.css" rel = "stylesheet">
        <script type="text/javascript" src="../../static/js/signup.js"></script>
        <title>Requirements Tracker</title>
    </head>

    <body>

        <div class = "navbar navbar-inverse navbar-static-top">
            <div class = "container">
                
                <a href = "#" class = "navbar-brand">ToDoList</a>
                
                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                
                <div class = "collapse navbar-collapse navHeaderCollapse">
                
                    <ul class = "nav navbar-nav navbar-right">

                        <li class = "active"><a href = "/rct/">Home</a></li>
                        <li><a href = "#"><span class="glyphicon glyphicon-cog"></span> </a></li>
                    
                    </ul>
                
                </div>
                
            </div>
        </div>


        <div id="header">
            <h1>Create an Account</h1>
        </div>



        
        <div id = "mycontainer">
    
            <form id="user_form" method="post" action="/rct/signup/" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{user_form.username.id}}
                {{ user_form.username.errors }}
                <input id="{{user_form.username.id}}" type="text" class="form-control" placeholder="*Username (less than 30 characters)" name="username" value="" size="50">
                <br>
                
                {{ user_form.first_name.errors }}
                <input id="{{user_form.first_name.id}}" type="text" class="form-control" placeholder="First Name" name="first_name" value="" size="50">
                <br>

                {{ user_form.last_name.errors }}
                <input id="{{user_form.last_name.id}}" type="text" class="form-control" placeholder="Last Name" name="last_name" value="" size="50">
                <br>

                {{ user_form.email.errors }}
                <input id="{{user_form.email.id}}" type="text" class="form-control" placeholder="*Email Address" name="email" value="" size="50">
                <br>
                
                {{ user_form.password.errors }}
                <input id="{{user_form.password.id}}" type="password" class="form-control" placeholder="*Password" name="password" size="50"/>
                <br>
                <input class="btn btn-default" type="submit" value="Register" />
            </form>

        </div>
        
        {% if registered %}
            <a href="/rct/">Return to index.</a><br/>
        {% endif %}

    </body>

</html>
